/**/
$baseFontCol : #3b3c3c;
$darkGrey : #1c1717;
$grey1 : #807e7e;
$grey2 : #32333a;
$white : #ffffff;
$white2 : #b9b9b9;
$whiteL1 : #fefefe;
$greenCol : #84dd36;
$darkBlue : #162855;
$darkBlue1 : #111f43;


/**/
$fontFamily  : Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
/**/
/**/
/**/

