/***********************************************************/
$fontfamily: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
/***********************************************************/
$baseFcolor : #6d6a6a;
/***********************************************************/
/***********************************************************/
$blueGrad1 : #085e8a;
$blueGrad2 : #063d65;
$navSel : #06395d;
$greyCol1 : #ccc8c8;
$yellowHo : #e5a407;
$lgtBlue :#92c7da;
$headerBG : #0f162d;
$bodyBG : #e0e0e0;
$dGrey : #2d2f3c;
$borderCol : #474a5a;
$greCol : #a19e9e;
$menuCol : #3a3e53;
$blueText : #1e3e53;
$blueTabs : #023b89;
$whiteL1 : #fefefe;
$darkGrey : #1c1717;
$grey1 : #807e7e;
$grey2 : #32333a;
$white : #ffffff;
$white2 : #b9b9b9;
$whiteL1 : #fefefe;
$greenCol : #84dd36;
$darkBlue : #162855;
$darkBlue1 : #111f43;
/***********************************************************/
/***********************************************************/