/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/
/* line 57, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_mixins.scss */
.animation, .topmenu ul li ul, .menu-list ul li a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.tabButtons {
  text-align: right;
}

/* line 3, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.tabButtons img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

/* line 11, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.workflow_Form .wfHeading {
  color: #f47c07;
  font-size: 17px;
  margin-bottom: 35px;
}

/* line 15, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.workflow_Form .wfHeading img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

/* line 21, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.workflow_Form > div {
  overflow: auto;
  margin-bottom: 35px;
  vertical-align: bottom;
}

/* line 25, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.workflow_Form > div input {
  float: left;
}

/* line 28, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.workflow_Form > div label {
  display: inline-block;
  font-weight: normal;
  float: left;
  margin: 0 25px 0 5px;
}

/* line 38, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dragDropWf .wfRd {
  float: left;
  width: 25%;
  margin-right: 5%;
}

/* line 43, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dragDropWf .wfRd1 {
  float: left;
  width: 25%;
  padding-top: 40px;
  margin-right: 5%;
}

/* line 50, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dragDropWf .list-group .active {
  background-color: #747371;
  border-color: #747371;
}

/* line 53, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dragDropWf .list-group .active span {
  float: right;
}

/* line 57, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dragDropWf .list-group input[type='checkbox'] {
  margin-right: 10px;
}

/* line 64, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dropPutList li {
  background: #3a80bc;
  margin-bottom: 2px;
  border: 1px solid #1a5181;
  padding: 5px 5px 5px 15px;
  position: relative;
}

/* line 70, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dropPutList li a {
  color: #fff;
}

/* line 72, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dropPutList li a i {
  margin-right: 10px;
}

/* line 77, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_global.scss */
.dropPutList li:after {
  content: '';
  position: absolute;
  right: -40px;
  top: 1px;
  height: 26px;
  width: 26px;
  background: url("../images/icons/check.png") no-repeat center top;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 5, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  color: #6d6a6a;
}

/* line 11, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
input:focus,
textarea:focus {
  outline: none;
}

/* line 16, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
li {
  list-style: none;
}

/* line 20, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
a:focus, a:hover {
  text-decoration: none;
  color: #6d6a6a;
}

/* line 25, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
#body__wrapper {
  margin-left: 275px;
  background: #e0e0e0;
}

/* line 30, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
.bodyDiv {
  padding: 25px 25px 0 25px;
  margin-bottom: 40px;
  min-height: 450px;
}

/* line 35, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_base.scss */
.blockBody {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 1px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  background: #ffffff;
  border: 1px solid #cfcece;
  padding: 30px 30px 30px 30px;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_buttons.scss */
.btn-default {
  background: #e5e4e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e1e2), to(#e8e7e8));
  background: -moz-linear-gradient(center top, #e2e1e2 0%, #e8e7e8 100%);
  background: -moz-gradient(center top, #e2e1e2 0%, #e8e7e8 100%);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 1px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  border: 1px solid #cecaca;
  color: #707176;
}

/* line 9, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_buttons.scss */
.greyBtn {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-clip: padding-box;
  background: #32333a;
  color: #ffffff;
  padding: 7px;
  border: 1px solid #807e7e;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

/* line 20, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_buttons.scss */
.greyBtn:hover {
  background: #1c1717;
}

/* line 24, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_buttons.scss */
.btn-success {
  background: #6bba0c;
  background: -webkit-gradient(linear, left top, left bottom, from(#6cc501), to(#69af16));
  background: -moz-linear-gradient(center top, #6cc501 0%, #69af16 100%);
  background: -moz-gradient(center top, #6cc501 0%, #69af16 100%);
  border-color: #578a16;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 1px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  padding: 7px 25px;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_text.scss */
h2 {
  color: #1e3e53;
  font-size: 17px;
  margin-bottom: 25px;
  margin-top: 0;
}

/* line 6, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_text.scss */
h2 img {
  display: inline-block;
  margin-right: 20px;
}

/* line 12, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_text.scss */
h3 {
  color: #3981b2;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 18, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_text.scss */
h3 img {
  vertical-align: middle;
}

/* line 22, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_text.scss */
.lead {
  color: #0f5896;
  font-weight: 400;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav-tabs {
  background: #023b89;
}

/* line 3, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav-tabs > li {
  margin-bottom: 1px;
}

/* line 6, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav-tabs > li > a {
  border-radius: 0;
  color: #f4f4f4;
  border: 1px solid transparent;
}

/* line 12, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav-tabs li.active > a,
.nav-tabs li.active > a:focus,
.nav-tabs li.active > a:hover {
  background: #4791dd;
  border: 1px solid transparent;
  border-radius: 0;
  color: #f4f4f4;
  position: relative;
}

/* line 21, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav-tabs li.active > a:after {
  font-family: FontAwesome;
  content: "\f0d8";
  position: absolute;
  bottom: -1px;
  height: 18px;
  left: 50%;
  font-size: 20px;
  color: #30344b;
  transform: translate(-50%, 0);
}

/* line 34, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.nav > li > a:focus,
.nav > li > a:hover {
  background: #4791dd;
  border: 1px solid transparent;
}

/* line 39, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/_bootstrapMod.scss */
.tab-content {
  background: #fff;
  border: 1px solid #cfcece;
  border-top: 0;
  padding: 20px 30px 40px 30px;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
#header {
  background-color: #0f162d;
  padding: 0 25px;
}

/* line 8, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.searchbar {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  background: #2d2f3c;
  border: 1px solid #474a5a;
  float: left;
  padding: 4px 10px;
  margin: 18px 0 0 0px;
}

/* line 15, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.searchbar input[type='text'] {
  background-color: transparent;
  border: 0px;
  min-width: 350px;
  color: #a19e9e;
}

/* line 21, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.searchbar button {
  background-color: transparent;
  border: 0px;
}

/* line 27, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu {
  float: right;
}

/* line 30, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li {
  float: left;
  position: relative;
}

/* line 33, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li a {
  display: block;
  text-align: center;
  padding: 15px 10px 10px 10px;
  font-size: 13px;
}

/* line 38, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li a i {
  display: block;
  height: 25px;
  padding-bottom: 5px;
}

/* line 42, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li a i img {
  vertical-align: bottom;
}

/* line 47, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li a span {
  display: block;
  color: #fff;
}

/* line 55, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li ul {
  display: none;
  position: absolute;
  background-color: #3a3e53;
  right: 0;
  margin: 0;
  padding: 0 0 0 10px;
  float: left;
  bottom: -45px;
  width: 120px;
}

/* line 66, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li ul a {
  color: #fff;
  font-size: 14px;
}

/* line 72, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_header.scss */
.topmenu ul li:hover {
  background-color: #3a3e53;
}

/******************************
Login page start
******************************/
/* line 4, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login {
  height: 100%;
  background: #0d1a28 url("../images/login-bg.png") no-repeat center top;
  background-size: cover;
  text-align: center;
  padding-top: 60px;
}

/* line 10, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .error {
  color: yellow;
  font-weight: normal;
}

/* line 11, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .logoDiv {
  padding-bottom: 25px;
}

/* line 12, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .formHeading {
  padding-bottom: 10px;
  color: #fefefe;
}

/* line 13, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog {
  border-bottom: 1px solid #aeaeae;
  display: table;
  width: 100%;
  padding: 0 15px 0px 15px;
  margin-bottom: 25px;
}

/* line 19, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog img {
  vertical-align: bottom;
}

/* line 22, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog input {
  border: 0;
  background: transparent;
  width: 100%;
  color: #fefefe;
}

/* line 28, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog span {
  display: table-cell;
  text-align: left;
}

/* line 34, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog .logImg {
  width: 10%;
  min-width: 30px;
  padding-bottom: 7px;
}

/* line 39, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .icnLog .logInp {
  width: 90%;
  vertical-align: middle;
}

/* line 44, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .login_Form {
  width: 375px;
  padding: 25px 40px 40px 40px;
  margin: 0 auto;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background: #1c1717;
  background: rgba(28, 23, 23, 0.7);
  border: 1px solid #807e7e;
}

/* line 52, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .ForgotPass {
  text-align: left;
  margin-bottom: 25px;
}

/* line 55, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .ForgotPass a {
  color: #84dd36;
}

/* line 60, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_login.scss */
#login .SubmitBtn input {
  display: block;
  width: 100%;
  font-size: 18px;
}

/******************************
Login page end
******************************/
/* line 2, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
#navbar__left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 275px;
  z-index: 0;
  background: #074e78;
  background: -webkit-gradient(linear, left top, left bottom, from(#085e8a), to(#063d65));
  background: -moz-linear-gradient(center top, #085e8a 0%, #063d65 100%);
  background: -moz-gradient(center top, #085e8a 0%, #063d65 100%);
}

/* line 12, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
#navbar__left .div__logo {
  padding: 27px 0 38px 57px;
  background: url("../images/top-img.png") right bottom no-repeat;
}

/* line 17, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
#navbar__left:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  height: 240px;
  width: 100%;
  background: url("../images/globe.png") left bottom no-repeat;
}

/* line 29, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list {
  z-index: 10;
  position: relative;
}

/* line 32, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul {
  margin: 0;
  padding: 0;
}

/* line 37, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul li a {
  display: block;
  font-size: 16px;
  color: #ccc8c8;
  padding: 8px 7px 8px 45px;
}

/* line 43, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul li a i {
  width: 20px;
  display: inline-block;
  margin-right: 2px;
}

/* line 48, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul li a span {
  float: right;
  margin-right: 20px;
  margin-top: 3px;
}

/* line 54, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul li a:hover, .menu-list ul li .active {
  background-color: #06395d;
}

/* line 56, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list ul li a:hover i, .menu-list ul li .active i {
  color: #e5a407;
}

/* line 66, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list .sub-menu {
  background-color: #06395d;
}

/* line 68, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_navbar.scss */
.menu-list .sub-menu a {
  padding: 5px 5px 5px 90px;
  color: #92c7da;
  border-bottom: 1px solid #063d65;
}

/* line 1, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_footer.scss */
#footer {
  background-color: #0f162d;
  padding: 15px;
}

/* line 4, F:/Nso_Spring_Web_Ui/WebContent/nsoassets/scss/modules/_footer.scss */
#footer p {
  text-align: center;
  color: #c2bdbd;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=../css/main.map */